<!DOCTYPE html>
<html lang="en">
  <%-
    include('./partials/_head', {
      title: 'Mr. Dice - About',
      head: null
    })
  %>
  <body class="bg-black text-white"> 
    <%- include('./partials/_header') %>

    <main>

      <section id="hero">
        <div class="section">
          <div data-aos="fade-up" class="flex flex-col items-center justify-center gap-4">
            <h1 class="text-balance title uppercase text-center text-5xl md:text-6xl">About</h1>
            <div class="w-[30%] h-[2px] bg-white"></div>
          </div>

          <div data-aos="fade-up" data-aos-delay="100" class="mt-16 text-left whitespace-pre-wrap"><%- pageData.content.description %></div>

          <p data-aos="fade-right" class="mt-4 bastliga text-[4rem] md:text-[5rem] font-thin">Ikenna Okoroafor</p>
        </div>
      </section>


      <%- include('./partials/_footer', { socials: locals.socials }) %>
    </main>
    <%- include("./partials/_scripts") %>
  </body>
</html>