<!DOCTYPE html>
<html lang="en">
  <%-
    include('./partials/_head', {
      title: 'Mr. Dice - Books',
      head: null
    })
  %>
  <body class="bg-black text-white"> 
    <%- include('./partials/_header') %>

    <main>

      <section id="hero">
        <div class="section">
          <div data-aos="fade-up" class="flex flex-col items-center justify-center gap-4">
            <h1 class="text-balance title uppercase text-center text-5xl md:text-6xl">Books</h1>
            <div class="w-[30%] h-[2px] bg-white"></div>
          </div>

          <div class="mt-16">
            <% if (pageData?.query) { %>
              <p class="mb-3 text-white/60">Your search for "<span class="text-white"><%= pageData.query %></span>" yielded <span class="text-white"><%= pageData.books.length %></span> <%= pageData.books.length === 1 ? 'result' : 'results' %></p>
            <% } %>
            <form action="books" method="get" data-aos="fade-down" class="mb-16">
              <div class="w-full relative">
                <input
                  type="search"
                  name="search"
                  id="search"
                  value="<%= pageData.query %>"
                  placeholder="Search books"
                  class="bg-highlight w-full text-lg p-4 rounded-lg outline-none
                  focus-within:ring-2 md:focus-within:ring-4 ring-white pr-12 md:pr-40"
                >
                <button
                  type="submit"
                  class="absolute top-1/2 right-2 -translate-y-1/2 md:bg-white rounded-lg
                  md:text-black p-2.5 md:w-32 text-lg flex items-center justify-center gap-2"
                >
                  <span class="hidden md:inline">Search</span>
                  <span class="pi pi-search"></span>
                </button>
              </div>
              
            </form>

            <div class="w-full grid gap-5 grid-cols-[repeat(auto-fill,minmax(280px,1fr))]">
              <% pageData.books.forEach((book, index) => { %>
                <div data-aos="fade-up" data-aos-delay="<%= index * 100 %>" class="rounded-xl bg-highlight p-4 grid gap-3">
                  <div class="h-60 w-full overflow-hidden rounded-xl">
                    <img src="<%= book.coverImage %>" alt="<%= book.title %>" class="w-full h-full object-cover">
                  </div>
                  
                  <div>
                    <h1 class="leading-0 title uppercase text-center text-4xl"><%= book.title %></h1>
                  </div>
  
                  <p class="text-sm text-ellipsis line-clamp-3">
                    <%= book.description %>
                  </p>
                  <a href="/books/<%= book.slug %>" class="w-full">
                    <button class="mt-2 btn primary rounded-lg w-full">Read More</button>
                  </a>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
      </section>


      <%- include('./partials/_footer') %>
    </main>
    <%- include("./partials/_scripts") %>
  </body>
</html>