<!DOCTYPE html>
<html lang="en">
  <%-
    include('./partials/_head', {
      title: 'Mr. Dice - Server Error',
      head: null
    })
  %>
  <body class="bg-black text-white"> 
    <%- /* include('./partials/_loader') */ %>
    <%- include('./partials/_header') %>
    <main class="grid place-content-center text-center h-[calc(100dvh-4.5rem)] px-4">
      <h1 class="text-6xl font-bold">500</h1>
      <p class="mt-3">Something happened and we're working to fix it.</p>
      <p>Please try again later.</p>

      <div class="mt-10 flex justify-center items-center gap-2">
        <a href="/">
          <button class="btn secondary flex items-center gap-2">
            <span class="pi pi-home"></span>
            <span>Home</span>
          </button>
        </a>

        <button data-back-btn class="btn primary flex items-center gap-2">
          <span class="pi pi-replay"></span>
          <span>Back</span>
        </button>
      </div>

    </main>
    <div class="w-full">
      <%- include('./partials/_footer') %>
    </div>
    <%- include("./partials/_scripts") %>
  </body>
</html>